<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="foo" class="sms-input">
            <template v-if="allowMultiple">
                <span>
                ${unitsCount} sms (${contentLength} caractères)
                </span>
            </template>
            <template v-else>
                <div v-if="nbRemainingChars >= 0" v-cloak>
                ${nbRemainingChars}
                <template v-if="nbRemainingChars > 1">caractères restants.</template>
                <template v-else>caractère restant.</template>
                </div>
                <div v-else v-cloak style="color:#ff0000">Attention vous avez dépassé ${-nbRemainingChars} caractères (${contentLength}).</div>
            </template>
            <textarea v-model="content">foo</textarea>
        </div>
    </body>
</html>

<script>
//     function getSmsContentInfos(content, countReservedStopLength, callback){
// 	callback({
//   	nbRemainingChars: 160,
//     contentLength: 34,
//     unitsCount: 2
//   });
// }

$(document).ready(function () {
  $('.sms-input').each(function (index, elem) {
  console.log(index, elem);
      new Vue({
        el: elem,
        delimiters: ['${', '}'],
        data: {
          content: 160,
          nbRemainingChars: 32,
          contentLength: 1,
          unitsCount: 1,
          allowMultiple: true
        },
//        watch: {
 //         content: function () {
  //          var that = this;
   //         console.log(that);
    //        //getSmsContentInfos(that.content, countReservedStopLength, function (results) {
     //         that.nbRemainingChars = 165;//results.nbRemainingChars;
      //        that.contentLength = 36;//results.contentLength;
       //       that.unitsCount = 1;//results.unitsCount;
            //});
       //   }
       // }
      //});
    });
  });
});
</script>